body {
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.card {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
}
